body {
    font-family: -apple-system, sans-serif;
    background-image: url("https://i.pinimg.com/originals/5e/09/fb/5e09fb85e58db92b61a8e0636d151a37.jpg");
    background-size: cover; /* This will make the image cover the entire background */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
    background-position: center; /* Center the image horizontally and vertically */
}
 
.grid1 {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 40% 60%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
    width: 85%;
    background: #fff;
    
    padding: 20px 60px 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 0px 25px -6px;
}

.grid2 {
    
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 40% 60%;

    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    width: 85%;
    background: #fff;
    
    padding: 20px 60px 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

    /* Styling */
.box {
    padding: 10px;
    color: #333;
    text-align: left;
}

@media (max-width: 1200px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        background: #ccc;
    }
    
    
        /* Styling */
    .box {
        color: #333;
        text-align: left;
    }
    .image {
        padding: 5px;
        width: 80%; /* Ensure the image takes up 100% of its container */
        height: auto; /* Maintain the image's aspect ratio */
    }
}

@media (max-width: 600px) {
    .image {
        display: none;
    }
    .image2 {
        display: none;
    }
}

.image {
    border-radius: 20px;
    padding: 10px;
    width: 90%; /* Ensure the image takes up 100% of its container */
    height: auto; /* Maintain the image's aspect ratio */
}

.image2 {
    border-radius: 20px;
    margin-left: 15%;
    margin-right: auto;
    padding: 10px;
    width: 60%; /* Ensure the image takes up 100% of its container */
    height: auto; /* Maintain the image's aspect ratio */
}



/* Footer Styles */

.footer h6{
    margin-top: 25px;   
}

.full-width-footer {
    width: 100%;
}

.services p{
    margin-top: -10px;
    font-size: 13px;
}


/* NavBar */

@media (max-width: 991px) {
    .navbar-scroll {
        background-color: #fff;
    }
        
    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
        color: rgb(218, 64, 64) !important;
    }         
    }
    
    .navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 500;
    }
    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
    color: #fff;
    }
    
    .navbar-scroll {
    box-shadow: none;
    }
    
    .navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    }
    
    .navbar-scrolled .navbar-brand,
    .navbar-scrolled .nav-link,
    .navbar-scrolled .fa-bars {
    color: #ff0000;
    }
    
    .navbar-scrolled {
    background-color: #fff;
    }
    
    @media (max-width: 450px) {
    #intro {
        height: 950px !important;
    }
    }
    
    @media (min-width: 550px) and (max-width: 750px) {
    #intro {
        height: 1100px !important;
    }
    }
    
    @media (min-width: 800px) and (max-width: 990px) {
    #intro {
        height: 600px !important;
    }
    }
    
    .display-1 {
    font-weight: 500 !important;
    letter-spacing: 40px;
    }
    
    @media (min-width: 1600px) {
    .display-1 {
        font-size: 10rem;
    }
    }