body {
    font-family: -apple-system, sans-serif;
    background: #858888;
}

.grid1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 30% 70%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
    width: 85%;
    background: #fff;
    
    padding: 20px 60px 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 0px 25px -6px;
}

.grid2 {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 30% 70%;

    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    width: 85%;
    background: #fff;
    
    padding: 20px 60px 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

    /* Styling */
.box {
    padding: 10px;
    color: #333;
    text-align: left;
}

@media (max-width: 1200px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        background: #ccc;
    }
    
        /* Styling */
    .box {
        color: #333;
        text-align: left;
    }
    .image {
        padding: 5px;
        width: 80%; /* Ensure the image takes up 100% of its container */
        height: auto; /* Maintain the image's aspect ratio */
    }
}

@media (max-width: 600px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        background: #ccc;
    }
    
        /* Styling */
    .box {
        color: #333;
        text-align: left;
    }
    .image {
        display: none;
    }
}

.image {
    border-radius: 20px;
    padding: 10px;
    width: 90%; /* Ensure the image takes up 100% of its container */
    height: auto; /* Maintain the image's aspect ratio */
}

.image2 {
    border-radius: 20px;
    margin-left: 15%;
    margin-right: auto;
    padding: 10px;
    width: 60%; /* Ensure the image takes up 100% of its container */
    height: auto; /* Maintain the image's aspect ratio */
}

/* Optional: Style the headings and paragraphs */
h2 {
    
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1em;
    color: #555;
}

.inner-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inner-box{
    padding: 10px;
    text-align: center;
}


/* Footer Styles */

.footer h6{
    margin-top: 25px;   
}

.full-width-footer {
    width: 100%;
}

.services p{
    margin-top: -10px;
    font-size: 13px;
}