/* HomePage CSS */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.button {
  border: black;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 25px;
  cursor: pointer;
  background-color: gray;
  width: 28%;
  height: 120px;
  font-size: xx-large;
}

.button:hover {
  background-color: rgba(157, 147, 147, 0.691);
  color: black;
}

.Display_Section {
  max-width: 200px;
  position: relative;
  margin: 0 auto;
  text-align: center; 
}

.Prof2000_pics {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.Pic_button.display-left,
.Pic_button.display-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1;
}

.Pic_button.display-left {
  left: 0;
}

.Pic_button.display-right {
  right: 0;
}

.Pic_button.display-left:hover,
.Pic_button.display-right:hover {
  background-color: #333;
}

/* Footer Styles */
body {
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #424242;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  padding: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px; 
  padding: 20px; 
  background-color: #424242;
  justify-content: center; 
}

.details {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px;
  background-color: #424242;
}

.details i {
  font-size: 24px;
  margin-right: 10px;
}

.info {
  flex: 1;
}

.topic {
  font-weight: bold;
  margin-bottom: 5px;
}

.text-one {
  font-size: 16px;
}

.text-two {
  font-size: 14px;
}

@media (max-width: 950px) {
  
  .navbar a {
    font-size: 20px;
  }

  .navbar {
    padding: 10px;
  }

  .left {
    margin-right: 10px;
  }

  .description h1, .description h2 {
    text-align: left;
  }

  .button {
    width: 100%;
    font-size: large;
    margin: 4px 0;
  }

  .Display_Section {
    max-width: 100%;
  }

  .Pic_button.display-left, .Pic_button.display-right {
    font-size: 20px;
    padding: 5px 10px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 820px) {

  .navbar a {
    font-size: 18px;
    padding: 8px;
  }

  .navbar {
    padding: 8px;
  }

  .left {
    font-size: 16px;
    margin-right: 8px;
  }

  .description h1, .description h2 {
    text-align: left;
  }

  .button {
    width: 45%; 
    font-size: medium; 
    margin: 4px;
    display: inline-block;
  }

  .Display_Section {
    max-width: 100%;
  }

  .Pic_button.display-left,
  .Pic_button.display-right {
    font-size: 18px;
    padding: 5px 8px;
  }
  
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
