@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: "Poppins" , sans-serif;
}

.body{
  background-color: #212529;
  margin-bottom: -48px;
}

/*Navbar Style*/
.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
  }
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
  color: #fff;
  }
  
  .navbar-scroll {
  box-shadow: none;
  }
  
  .navbar-scrolled {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  }
  
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
  color: #ff0000;
  }
  
  .navbar-scrolled {
  background-color: #fff;
  }

/* HomePage CSS */

.Banner-Pic{
  padding-top: 50px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pic-border-radius{
  border-radius: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margin-top{
  margin-top: 40px;
}

.margin-bottom{
  margin-bottom: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 25px;
  cursor: pointer;
  background-color: #007bff;
  width: 28%;
  height: 100px;
  font-size: xx-large;
  border-radius: 18px;
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  transition: 0.5s ease-in-out;
}

.button:hover {
  background-color: rgb(219, 11, 11);
}

.Display_Section {
  max-width: 200px;
  position: relative;
  margin: 20px auto;
  text-align: center; 
}

.Prof2000_pics {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.Pic_button.display-left,
.Pic_button.display-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1;
}

.Pic_button.display-left {
  left: 0;
}

.Pic_button.display-right {
  right: 0;
}

.Pic_button.display-left:hover,
.Pic_button.display-right:hover {
  background-color: #333;
}

/*   Some Animations :) */
.overflow-hidden {
  overflow: hidden;
 }
 
 .drop-in {
  animation: drop-in 1s ease 200ms backwards;
 }
 
 .drop-in-2 {
  animation: drop-in 1200ms ease 500ms backwards;
 }
 
 @keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }

 .decription{
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
 }


/* Footer Styles */

.footer h6{
  margin-top: 25px;
}

.full-width-footer {
  width: 100%;
}

.services p{
  margin-top: -10px;
  font-size: 13px;
}
