body {
    font-family: -apple-system, sans-serif;
    background-image: url("https://i.pinimg.com/originals/5e/09/fb/5e09fb85e58db92b61a8e0636d151a37.jpg");
    background-size: cover; /* This will make the image cover the entire background */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
    background-position: center; /* Center the image horizontally and vertically */
}

.heading-container{
    text-align: center;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.Heading{
    font-size: 30px;
    color: #333;
}

.services-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: #fff;
    border-radius: 12px;
    padding: 30px 30px 30px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.grid-content {
    
    text-align: center;
}

/* Services Cards */

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    background: #ccc;
    color: #777;
    text-align: center;
    border-radius: 8px;
}

.home-cards-container:hover {
    font-size: larger;
}



@media (max-width: 950px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .home-icon-container {
        padding: 2px;     
    }
    .home-features-card {
        color: #777;
        text-align: center;
        padding: 2px;
        border-radius: 3px;
    }

    .home-icon {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }
}

.home-features-card {
    color: #777;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}

.home-features-card:hover {
    
}

.home-icon-container {
    display: flex;
    padding: 8px;
    align-items: center;
    margin-right: 24px;
    border-radius: 50%;
    flex-direction: column;
    background-color: #818181;
}

.home-icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
}

.home-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-heading {
    color: #1d1a1a;
    font-weight: 600;
    margin-bottom: 24px;
    font-size: 22px;
}

.home-text {
    color: #777;
    text-align: left;
    font-size: 18px;
    padding: 5px;
}

.home-features-card {
    width: 90%;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
    flex-direction: row;
}



/* Footer Styles */

.footer h6{
    margin-top: 25px;   
}

.full-width-footer {
    width: 100%;
}

.services p{
    margin-top: -10px;
    font-size: 13px;
}
